/* Header */
header {
    height: 4.3rem;
    @include flexbox;

    .back{
        position: absolute;
        font-size: 1.5em;
        left: 1.2rem;
        top: 1.5rem;
        color: inherit;
    }
}
.header__logo{
        height: 1.8rem;
}