footer {
    background-color: #354146;
    color: white;
    display: flex;
    justify-content: center;
    h4 {
      font-family: ($font-secondary);
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 4.5rem;
    }
    ul {
      list-style-type: none;
     
  
      li {
        padding: 5px 0 5px 0;
        line-height: 1.5;
  
        a {
          color: white;
          display: flex;
          justify-content: center;
          text-decoration: none;
        }
        }
      }
      .fa-utensils {
        margin-right: 0.75rem;
      }
      .fa-handshake-angle {
        margin-right: 0.3rem;
      }
  }
    
  