.card__btn {
    position: absolute;
    right: 3rem;
    height: 1.8rem;
    width: 5.6rem;
    text-align: center;
    background-color: ($color-tertiary);
    color: #078C6B;
    font-weight: bold;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    animation: clignote 950ms 0ms linear alternate infinite;
  }
  @keyframes clignote {  
    50% { opacity: 0; }
   
  }

  