.card__btn {
    position: absolute;
    right: 15px;
    height: 30px;
    width: 90px;
    text-align: center;
    background-color: ($color-tertiary);
    color: #078C6B;
    font-weight: bold;
    font-size: .9em;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
  }