.heart {
    position: relative;
    font-size: 2rem;
    right: 0.9rem;
    height: 1.8rem;
    float: right;
    bottom: 2rem;
    &:hover .far.fa-heart {
      transition-property: transform;
      transition-duration: 200ms;
      transition-delay: 300ms;
      transform: scale(0);
    }
    &:hover .fa.fa-heart{
      transform: scale(1)
    }
  }
  .far.fa-heart {
    position: absolute;
    left: 0;
    top: 0;
  }
  .fa.fa-heart {
    background: linear-gradient( #ED74DA, #9356DC);
    background-clip: text;
    background-color: transparents;
    transition-duration: 500ms;
    transform: scale(0);
    
  }
    

