// Loader
.container{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: load .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    @include flexbox;
}

@keyframes load{
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: 150ms;

.load {
    width: $size * 7;
    height: $size* 3.5;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    &__bar {
        background-image:linear-gradient(0deg, $color-tertiary, $color-secondary);;
        height: 100%;
        width: $size;
        animation: bars $anim-dur forwards alternate  ease-in-out;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
                
            }
            }
        }
        }
@keyframes bars {
    0% { 
        transform: scaleY(0.5);
        opacity: 0.6;

    } 
    100% { 
        transform: scaleY(1.0); 
        opacity: 0.3;
        visibility: hidden;
        
    }
}


