
  @use "sass:color";

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

