
// localisation
.local{
    padding: 0.94rem 0rem;
    text-align: center;
    background-color: #EAEAEA;
    box-shadow: inset #686868 0.06rem 0.3rem grey;
    color: #353535;
    font-weight: bold;
}

// reservation
.reser{
    height:16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 2rem;
}

// fonctionnement
.fonc__container{
    height: 12rem;
    align-items: center;
    background-color: #fff;
    padding: 15px 0px;

    h2{
        display: flex;
        margin-top: 1.5rem;
        justify-content: center;
    }

    .fonc__list{
       display: flex;
       justify-content: space-around;
       margin-right: 2rem;
       white-space: nowrap;
    }
    .fonc__lists{
        padding:1.5rem;
        width: 15rem;
        border-radius: 1.5rem;
        background-color: #f6f6f6;
        box-shadow: 0 2px 5px grey;
        font-weight: bold;
        list-style-type: none;
        margin-top: 2rem;
    }
    
    .fonc__lists::before{
        content: counter(section);
        counter-increment: section;
        margin-left: -40px;
        border-radius: 50%;
        color: white;
        background-color: #9356DC;
        padding: 0.24rem 0.6rem;
    }
    .fonc__lists i{
        margin-right: 2rem;
    }

    i{
        margin-left: 1rem;
    }
}




.card__img{
    height:12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}



