
.img__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
}

.menu__container{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top:0.9rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 9.3rem;
    background-color: #f6f6f6;
    border-radius: 1rem 1rem 0 0;

}

  .menu {
    &__header {
      padding: 1rem 2rem 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__title {
      font-family: $font-secondary;
      font-size: 1.5rem;
    }
  }
  
    .submenu {
      padding: 0 1rem;
      &__title{
        font-size: 1rem;
        margin-top: 2rem;
        &::after{
          content: "";
          width: 3rem;
          height: 0.25rem;
          background-color: $color-tertiary;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
  }
  .menu__name{
    line-height: 0;
    padding-left:1rem ;
  }
  .menu__price{
    padding-right: 1.25rem;
    font-weight: bold;
}
  
.menu__card{
  height: 5rem;
  margin-top: 1.8rem;
  border-radius: 0.9rem;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  &:hover .menu__check {
    @include flexbox;
    animation: slide 0.5s ease ;
    transform-origin: right;
    

    &:hover .menu__price {
      padding-right: 4.3rem;
      transition: 0.5s ease ;
  }
  }
  .menu__check {
      display: none;
      background: $color-tertiary;
      border-radius: 0 0.9rem 0.0rem 0;
      right: 0;
      padding: 0 0.8rem;
      height: 100%;
      i {
          font-size: 1.8rem;
          color: white;
          transform: rotate(180deg);
          animation: rotate 0.5s both;
      }
  }

  h3{
    @media (max-width:480px) {
      font-size:1rem;
     }
    }
    p{
     @media (max-width:480px) {
      font-size:.8rem;
     
     }
    }
}

@keyframes rotate {
  0% {
      transform: rotate(0);
}
100% {
      transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
            transform: scaleX(0);
  }
  100% {
            transform: scaleX(-50px);
  }
}


  

 


  















  
  

  
 
  
  


  
 