// Base
$font-stack: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', sans-serif;
$body-color: #f6f6f6;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Loader

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: 150ms;